@tailwind base;
@tailwind components;
@tailwind utilities;


:focus-visible {
  outline: -webkit-focus-ring-color auto 0px !important;
}


@media (min-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0 20px;
  }
}


